

.wrapper {
  display: flex;
  justify-content: center;
}

.list {
  float: center;
  align-items: center;
  justify-content: center;
  height: 100;
  width: 300px;
}

.form {
  float: center;
  justify-content: center;
  height: 100px;
  width: 300px;

}