html,
body {
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
}

.wrapper {
  display: flex;
  justify-content: left;
  height: 100%;
}

.list {
  background: #373a47;
  padding-left: 20px;
  padding-top: 10px;
  float: left;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 300px;
}

.item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.form {
  padding-left: 20px;
}